/*  ************************************************************************************  */
/*  **********  /02-domina-el-dom-con-javascript/seccion10-ejemplos-usos-dom  **********  */
/*  **********  /73-añadir-filas-a-tabla-dinamicamente/css/styles.css  *****************  */
/*  ************************************************************************************   */


/*  *****  Estilos Generales  *****  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #aaa, #eee, #aaa);
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid #333333;
}

.main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    background-color: blueviolet;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

button:hover {
    background-color: rgb(67, 22, 109);
}


/*  *****  Estilos del Proyecto  *****  */

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    /* margin-top: 50px;
    margin-bottom: -15px; */
}

.tabla-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    padding-bottom: 30px;
    margin-top: 50px;
    background: linear-gradient(to bottom, #aaa, #eee, #aaa);
}

th,
td {
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.campos {
    display: inline-block;
    width: 90px;
    height: 30px;
}